/* עיצוב כללי ל-TaskManager */
.task-manager-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* כותרת ראשית */
.task-manager-title {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* כפתור הוספת משימה */
.create-task-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.create-task-button:hover {
  background-color: #45a049;
}

/* רשימת משימות */
.task-list {
  list-style: none;
  padding: 0;
}

.task-list-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  margin: 8px 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;

  /* הגדרות גלישת טקסט */
  word-wrap: break-word; /* גורם למילים ארוכות להישבר */
  overflow-wrap: break-word; /* חלופה נוספת עבור דפדפנים מסוימים */
  max-width: 100%; /* מונע מהפריט להתרחב מעבר לרוחב הזמין */
  max-height: 60px; /* גובה מקסימלי */
  overflow-y: auto; /* גלילה פנימית אם התוכן חורג מהגובה */
}

.task-list-item.completed {
  text-decoration: line-through;
  color: #999;
}

/* כפתור סימון השלמת משימה */
.complete-task-button {
  /* width: 100%; */
  padding: 4px 8px; /* גודל קטן */
  font-size: 12px; /* גופן קטן */
  background-color: #e0e0e0; /* צבע אפור עדין */
  color: #555; /* צבע טקסט כהה אך לא בולט מדי */
  border: 1px solid #ccc; /* גבול עדין */
  border-radius: 3px; /* פינות מעט מעוגלות */
  cursor: pointer;
  transition: background-color 0.3s ease; /* מעבר חלק בצבע */
}

.complete-task-button:hover {
  background-color: #d0d0d0; /* צבע מעט כהה יותר בלחיצה */
}

/* טופס יצירת משימה */
.task-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-form label {
  font-size: 16px;
  color: #333;
}

.task-form input[type="text"],
.task-form textarea {
  width: 95%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.task-form button[type="submit"] {
  padding: 10px;
  background-color: #b8cb40;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: flex-start;
}

.task-form button[type="submit"]:hover {
  background-color: #45a049;
}
