/* !important - הכי חזק במפל ההיררכיה */
.image-position {
  position: absolute;
  z-index: 2;
  right: 50%;
}

h2 {
  color: rgb(80, 175, 132);
  padding: 25px;
  text-align: right;
  border-radius: 4px;
}

.container {
  z-index: 9;
  position: relative;
  background-color: rgba(148, 184, 241, 0.379);
  width: 60%;
  color: black;
  border: 15px double rgba(141, 107, 6, 0.545);
  padding: 35px;
  border-radius: 2%;
  /* padding-left: 90px; */
  margin: 40px;
}

#MainContentRelative {
  display: relative;
}

@media (max-width: 600px) {
  .image-position {
    position: relative;
    right: 0%;
  }
}
