.store {
  width: 100%;
  display: grid;
  background-color: #ffffff;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  padding: 10px;
}

.item {
  background-color: rgba(234, 225, 182, 0.334);
  gap: 30px;
  /* border: 30 px; */
  padding: 20px;
  text-align: center;
  padding: 50px;
  border: 3px solid #f16c6c22;
  border-radius: 60px;
}

button {
  width: 100%; /* תאימו לרוחב ה-grid */
  min-height: 50px; /* גובה מינימלי */
  padding: 15px; /* הגדלת הפנימה לגובה ורוחב נוספים */
  font-size: 18px; /* טקסט גדול יותר */
  box-sizing: border-box; /* לוודא שה-padding מחושב בתוך הרוחב */
  background-color: #00ffae3f;
  color: white;
  border: none;
  cursor: pointer;
  min-height: 60px; /* גובה מינימלי נוסף לכפתור */
  font-size: 20px; /* טקסט גדול יותר לכפתור */
}

@media (max-width: 900px) {
  .store {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .store {
    grid-template-columns: 1fr;
  }
}
