.App {
  text-align: center;
}

.logo {
  position: absolute;
  height: 40px;
  top: 50px;
  left: 10%;
  pointer-events: none;
  /* padding: 70px; */
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgcolor {
  background-color: rgba(250, 235, 215, 0.608);
}

.nav1 {
  display: flex;
  padding: 10px;
  align-self: normal;
  gap: 100px;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.mountains {
  background-image: url("mountains.jpg");
  padding: 10px;
  border: 5px solid black;
  height: 190px;
}

/* !important - הכי חזק במפל ההיררכיה */
.image-position {
  position: absolute;
  z-index: 2;
  /* position: absolute; */
  /* top: 350px; */
  right: 50%;
  /* bottom: 20%; */

  /* bottom: 500px; */
}

.container {
  z-index: 9;
  position: relative;
  background-color: rgba(148, 184, 241, 0.379);
  width: 60%;
  color: black;
  border: 15px solid rgba(141, 107, 6, 0.545);
  padding: 35px;
  border-radius: 2%;
  /* padding-left: 90px; */
  margin: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  color: rgba(52, 9, 244, 0.81);
  /*color: #000000 */
  /* colorhunt.co */
  text-align: center;
  /* letter-spacing: 1px; */
  font-size: 300%;
}

div h2 {
  color: rgb(80, 175, 132);
  padding: 25px;
  text-align: right;
  border-radius: 4px;
}

p {
  font-size: larger;
  color: lightslategray;
  line-height: 30px;
  /* letter-spacing: 3px; */
}

h5 {
  color: rgba(12, rgb(45, 33, 111), blue, alpha);
  /* אלפא זאת רמת השקיפות של הצבע כאשר הערכים הם בין 0-1 */
  text-align: center;
  /* transform: rotate(60deg); */
}

.foot-nice {
  background-color: rgba(48, 29, 117, 0.077);
  display: flex;
  padding: 4px;
  align-self: normal;
  gap: 120px;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

/************************************* Hyperlink docorations ************************************/
/* unvisited link */
a:link {
  /* לינק ללא קו תחתון */
  text-decoration: none;

  /* background-color: rgba(48, 29, 117, 0.471); */

  /* עיגול פינות */
  border-radius: 8px;
  color: #b1714e;

  transition: font-size 1s;
}

/* mouse over link
כאשר העכבר מרחף מעל הלינק */
a:hover {
  color: #ff00ff43;
  font-size: 25px;
  cursor: pointer;
}

/* selected link */
a:active {
  color: #0000ff;
}

#MainContentRelative {
  display: relative;
}
.MainStyle {
  width: 100%;
}

.accMan {
  z-index: 12;
  position: fixed;
  padding: 2px;
  right: 85%;
}
@media (max-width: 600px) {
  .foot-nice {
    padding: 10px;
    gap: 20px;
  }
  .nav1 {
    height: 20px;
    gap: 20px;
  }
  .accMan {
    right: 85%;
    transform: translateX(50%);
  }
  .image-position {
    position: relative;
    right: 0%;
  }
  .logo {
    right: 80%;
    top: 20px;
  }
}
