.App {
  text-align: center;
}

.logo {
  position: absolute;
  height: 50px;
  top: 30px;
  left: 30px;
  pointer-events: none;
  padding: 70px;
  animation: spin 20s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bgcolor {
  background-color: rgba(250, 235, 215, 0.608);
}

.nav1 {
  display: flex;
  padding: 10px;
  align-self: normal;
  gap: 200px;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.mountains {
  background-image: url("mountains.jpg");
  padding: 10px;
  border: 5px solid black;
  height: 190px;
}

.container {
  position: relative;
  background-color: rgba(99, 145, 219, 0.285);
  width: 450px;
  border: 15px solid rgba(3, 1, 17, 0.458);
  padding: 50px;
  padding-left: 90px;
  margin: 40px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Card {
  background-color: aqua;
}

h1 {
  color: rgb(52, 9, 244);
  /*color: #000000 */
  /* colorhunt.co */
  text-align: center;
  letter-spacing: 1px;
  font-size: 80px;
}

h2 {
  color: rgb(80, 175, 132);
  padding: 25px;
  text-align: right;
  border-radius: 4px;
}

p {
  font-size: larger;
  color: lightslategray;
  line-height: 30px;
  /* letter-spacing: 3px; */
}

h5 {
  color: rgba(12, rgb(45, 33, 111), blue, alpha);
  /* אלפא זאת רמת השקיפות של הצבע כאשר הערכים הם בין 0-1 */
  text-align: center;
  transform: rotate(60deg);
}

.foot-nice {
  background-color: rgba(48, 29, 117, 0.077);

  display: flex;
  padding: 4px;
  align-self: normal;
  gap: 200px;
  flex-direction: row;
  height: 50px;
  justify-content: center;
  align-items: center;
}

/************************************* Hyperlink docorations ************************************/
/* unvisited link */
a:link {
  /* לינק ללא קו תחתון */
  text-decoration: none;

  /* background-color: rgba(48, 29, 117, 0.471); */

  /* עיגול פינות */
  border-radius: 8px;
  color: #b1714e;

  transition: font-size 1s;
}

/* mouse over link
כאשר העכבר מרחף מעל הלינק */
a:hover {
  color: #ff00ff43;
  font-size: 25px;
  cursor: pointer;
}

/* selected link */
a:active {
  color: #0000ff;
}

/* !important - הכי חזק במפל ההיררכיה */
.image-position {
  position: fixed;
  z-index: 2;
  /* position: absolute; */
  top: 350px;
  right: 770px;
  bottom: 500px;
}

#MainContentRelative {
  display: relative;
}
