.store {
  display: grid;
  background-color: #09ee3b33;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  padding: 10px;
}

.item {
  background-color: rgba(164, 188, 26, 0.14);
  gap: 30px;
  /* border: 30 px; */
  padding: 20px;
  text-align: center;
  padding: 50px;
  border: 10px solid #d708082a;
  border-radius: 60px;
}

.button2 {
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  top: 130px;
  bottom: 20px;
  right: 20px;
}

/* body > div {
  background: #dc2a2abb;
  padding: 80px;

} */
