.store {
  width: 100%;
  display: grid;
  background-color: #62d47b33;
  grid-template-columns: repeat(3, 1fr);

  gap: 20px;
  padding: 10px;
}
/* .sales {
  border: 10px solid #05f338;
} */

.item {
  background-color: rgba(234, 225, 182, 0.334);
  gap: 30px;
  /* border: 30 px; */
  padding: 20px;
  text-align: center;
  padding: 50px;
  border: 3px solid #f16c6c22;
  border-radius: 60px;
}

.button2 {
  margin-bottom: 30px;
  padding: 10px;
  position: relative;
  top: 130px;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 768px) {
  .store {
    grid-template-columns: repeat(2, 1fr); /* שני עמודות במסכים בינוניים */
  }
}

@media (max-width: 480px) {
  .store {
    grid-template-columns: 1fr; /* עמודה אחת במסכים קטנים */
  }
}

/* body > div {
  background: #dc2a2abb;
  padding: 80px;

} */
